#div-header {
    width: 45%;
}

.div-google{
    margin-top: 14.2rem;
    margin-bottom: 2.3rem;
}

.picture-google {
    margin: 0.8rem 0rem;
    max-width: 27.2rem;
    max-height: 9.2rem;
}

#barra-de-busqueda {
    width: 80%;
}